@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black !important;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Ubuntu", sans-serif !important;
}

.content {
  height: 90vh !important;
  overflow-y: scroll;
}

.main-layout {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 100px 0px 100px;
}

.title {
  font-weight: bold;
}

.title-one {
  font-size: 2.5rem;
  text-decoration: underline;
}

.title-two {
  font-size: 1.5rem;
}

.title-3 {
  position: relative;
  left: 111px;
  top: -24px;
}

.full-title {
  position: relative;
  top: 17px;
  right: 19px;
}

.logo-img {
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo-img:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.top-2 {
  padding: 15px;
}

@import url("./footer.css");
@import url("./description.css");
@import url("./quotes.css");
