.description {
  position: relative;
  left: 12vw;
  top: 18vw;
  font-size: 1.1rem !important;
}

@keyframes slowmo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
