.description {
  position: relative;
  top: 5vw;
  font-size: 1.1rem !important;
  /* background-color: #f5deb382; */
  width: 31%;
}

@keyframes slowmo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
