@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-image: url("../../../public/photos/main-background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif !important;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-weight: bold;
  position: fixed;
  left: 72%;
  top: 12%;
  transform: translate(-50%, -12%);
}

@media (max-width: 768px) {
  .title {
    position: static;
  }
}

.title-one {
  font-size: 2.5rem;
}

.title-two {
  font-size: 1.5rem;
}

@import url("./footer.css");
